// Main colors
$green-base: #4abc90;
$green-dark: #00bba6;
$green-light: #00d768;
$green-semi: #ccf4e0;

// $blue-base: #6391FF; Init color
$blue-base: #805cff;
$blue-dark: #3b6adb;
$blue-light: #719bff;
$blue-semi: #dfe9ff;
$primary-color: #805cff;

$gunmetal: #1f2532;
$gunmetal-inverse: #374053;

$gray-bg: #f8f9fb;
$primary-lite: #f8f7fd;
$primary-lite-2x: #f3f1fb;

// Supportive colors
$red: #f86161;
$red-dark: #e84343;
$red-light: #fedfdf;

// $gray-000: #ecf0f426;
$gray-000: #fcfdfe;
$gray-100: #edf0f4;
$gray-200: #dee4ec;
$gray-300: #bdc4cc;
$gray-400: #a3acaf;
$gray-500: #86919d;
$gray-600: #363636;

$white: #fff;
$black: #000;
