@import "./colors";

//Variable overrides
$body-bg: $white;
$body-color: #374053;

$light: $gray-bg;
$border-color: $gray-100;

$headings-color: $gunmetal-inverse;
$dropdown-link-color: $headings-color;
$dropdown-link-hover-color: $headings-color;
$dropdown-link-hover-bg: $gray-100;
$dropdown-link-active-color: $headings-color;
$dropdown-link-active-bg: $gray-200;

$theme-colors: (
  "primary": $blue-base,
  "secondary": $gray-200,
  "light": $gray-bg,
  "dark": $gray-600,
  "success": $green-base,
  "warning": $red-light,
  "danger": $red,
) !default;

//New variables
$text-muted: $gray-400;

// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.
// scss-docs-start gray-color-variables
// scss-docs-end gray-color-variables
// scss-docs-start gray-colors-map
// scss-docs-end gray-colors-map
// scss-docs-start theme-color-variables
// scss-docs-end theme-color-variables
// scss-docs-start theme-colors-map
//$theme-colors: (
//  // scss-docs-end theme-colors-map
//  $blue-100: tint-color($blue, 80%) !default;
//$blue-200: tint-color($blue, 60%) !default;
//$blue-300: tint-color($blue, 40%) !default;
//$blue-400: tint-color($blue, 20%) !default;
//$blue-600: shade-color($blue, 20%) !default;
//$blue-700: shade-color($blue, 40%) !default;
//$blue-800: shade-color($blue, 60%) !default;
//$blue-900: shade-color($blue, 80%) !default;
//$indigo-100: tint-color($indigo, 80%) !default;
//$indigo-200: tint-color($indigo, 60%) !default;
//$indigo-300: tint-color($indigo, 40%) !default;
//$indigo-400: tint-color($indigo, 20%) !default;
//$indigo-600: shade-color($indigo, 20%) !default;
//$indigo-700: shade-color($indigo, 40%) !default;
//$indigo-800: shade-color($indigo, 60%) !default;
//$indigo-900: shade-color($indigo, 80%) !default;
//$purple-100: tint-color($purple, 80%) !default;
//$purple-200: tint-color($purple, 60%) !default;
//$purple-300: tint-color($purple, 40%) !default;
//$purple-400: tint-color($purple, 20%) !default;
//$purple-600: shade-color($purple, 20%) !default;
//$purple-700: shade-color($purple, 40%) !default;
//$purple-800: shade-color($purple, 60%) !default;
//$purple-900: shade-color($purple, 80%) !default;
//$pink-100: tint-color($pink, 80%) !default;
//$pink-200: tint-color($pink, 60%) !default;
//$pink-300: tint-color($pink, 40%) !default;
//$pink-400: tint-color($pink, 20%) !default;
//$pink-600: shade-color($pink, 20%) !default;
//$pink-700: shade-color($pink, 40%) !default;
//$pink-800: shade-color($pink, 60%) !default;
//$pink-900: shade-color($pink, 80%) !default;
//$red-100: tint-color($red, 80%) !default;
//$red-200: tint-color($red, 60%) !default;
//$red-300: tint-color($red, 40%) !default;
//$red-400: tint-color($red, 20%) !default;
//$red-600: shade-color($red, 20%) !default;
//$red-700: shade-color($red, 40%) !default;
//$red-800: shade-color($red, 60%) !default;
//$red-900: shade-color($red, 80%) !default;
//$orange-100: tint-color($orange, 80%) !default;
//$orange-200: tint-color($orange, 60%) !default;
//$orange-300: tint-color($orange, 40%) !default;
//$orange-400: tint-color($orange, 20%) !default;
//$orange-600: shade-color($orange, 20%) !default;
//$orange-700: shade-color($orange, 40%) !default;
//$orange-800: shade-color($orange, 60%) !default;
//$orange-900: shade-color($orange, 80%) !default;
//$yellow-100: tint-color($yellow, 80%) !default;
//$yellow-200: tint-color($yellow, 60%) !default;
//$yellow-300: tint-color($yellow, 40%) !default;
//$yellow-400: tint-color($yellow, 20%) !default;
//$yellow-600: shade-color($yellow, 20%) !default;
//$yellow-700: shade-color($yellow, 40%) !default;
//$yellow-800: shade-color($yellow, 60%) !default;
//$yellow-900: shade-color($yellow, 80%) !default;
//$green-100: tint-color($green, 80%) !default;
//$green-200: tint-color($green, 60%) !default;
//$green-300: tint-color($green, 40%) !default;
//$green-400: tint-color($green, 20%) !default;
//$green-600: shade-color($green, 20%) !default;
//$green-700: shade-color($green, 40%) !default;
//$green-800: shade-color($green, 60%) !default;
//$green-900: shade-color($green, 80%) !default;
//$teal-100: tint-color($teal, 80%) !default;
//$teal-200: tint-color($teal, 60%) !default;
//$teal-300: tint-color($teal, 40%) !default;
//$teal-400: tint-color($teal, 20%) !default;
//$teal-600: shade-color($teal, 20%) !default;
//$teal-700: shade-color($teal, 40%) !default;
//$teal-800: shade-color($teal, 60%) !default;
//$teal-900: shade-color($teal, 80%) !default;
//$cyan-100: tint-color($cyan, 80%) !default;
//$cyan-200: tint-color($cyan, 60%) !default;
//$cyan-300: tint-color($cyan, 40%) !default;
//$cyan-400: tint-color($cyan, 20%) !default;
//$cyan-600: shade-color($cyan, 20%) !default;
//$cyan-700: shade-color($cyan, 40%) !default;
//$cyan-800: shade-color($cyan, 60%) !default;
//$cyan-900: shade-color($cyan, 80%) !default;
//$body-color:                $gray-900 !default;
//$link-color:                              $primary !default;
//$link-hover-color:                        shift-color($link-color, $link-shade-percentage) !default;
//$border-color:                $gray-300 !default;
//$component-active-color:      $white !default;
//$headings-color:              null !default;
//$blockquote-footer-color:     $gray-600 !default;
//$hr-color:                    inherit !default;
//$table-color:                 $body-color !default;
//$table-striped-color:         $table-color !default;
//$table-active-color:          $table-color !default;
// $table-hover-color:           $gray-000 !default;
//$table-border-color:          $border-color !default;
//$table-group-separator-color: currentColor !default;
//$table-caption-color:         $text-muted !default;
//"primary":    shift-color($primary, $table-bg-scale),
//"secondary":  shift-color($secondary, $table-bg-scale),
//"success":    shift-color($success, $table-bg-scale),
//"info":       shift-color($info, $table-bg-scale),
//"warning":    shift-color($warning, $table-bg-scale),
//"danger":     shift-color($danger, $table-bg-scale),
//$input-btn-focus-color-opacity: .25 !default;
//$input-btn-focus-color:         rgba($component-active-bg, $input-btn-focus-color-opacity) !default;
//$input-btn-focus-box-shadow:    0 0 $input-btn-focus-blur $input-btn-focus-width $input-btn-focus-color !default;
//$btn-link-color:              $link-color !default;
//$btn-link-hover-color:        $link-hover-color !default;
//$btn-link-disabled-color:     $gray-600 !default;
//$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;
//$form-text-color:                       $text-muted !default;
//$form-label-color:                      null !default;
//$input-disabled-border-color:           null !default;
//$input-color:                           $body-color !default;
//$input-border-color:                    $gray-400 !default;
//$input-focus-border-color:              tint-color($component-active-bg, 50%) !default;
//$input-focus-color:                     $input-color !default;
//$input-placeholder-color:               $gray-600 !default;
//$input-plaintext-color:                 $body-color !default;
//$input-transition:                      border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;
//$form-check-label-color:                  null !default;
//$form-check-input-focus-border:           $input-focus-border-color !default;
//$form-check-input-checked-color:          $component-active-color !default;
//$form-check-input-checked-bg-color:       $component-active-bg !default;
//$form-check-input-checked-border-color:   $form-check-input-checked-bg-color !default;
//$form-check-input-checked-bg-image:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-checked-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/></svg>") !default;
//$form-check-radio-checked-bg-image:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$form-check-input-checked-color}'/></svg>") !default;
//$form-check-input-indeterminate-color:          $component-active-color !default;
//$form-check-input-indeterminate-bg-color:       $component-active-bg !default;
//$form-check-input-indeterminate-border-color:   $form-check-input-indeterminate-bg-color !default;
//$form-check-input-indeterminate-bg-image:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-indeterminate-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/></svg>") !default;
//$form-switch-color:               rgba(0, 0, 0, .25) !default;
//$form-switch-bg-image:            url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-color}'/></svg>") !default;
//$form-switch-focus-color:         $input-focus-border-color !default;
//$form-switch-focus-bg-image:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-focus-color}'/></svg>") !default;
//$form-switch-checked-color:       $component-active-color !default;
//$form-switch-checked-bg-image:    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-checked-color}'/></svg>") !default;
//$input-group-addon-color:               $input-color !default;
//$input-group-addon-border-color:        $input-border-color !default;
//$form-select-color:                 $input-color !default;
//$form-select-disabled-color:        null !default;
//$form-select-disabled-border-color: $input-disabled-border-color !default;
//$form-select-indicator-color:       $gray-800 !default;
//$form-select-indicator:             url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$form-select-indicator-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>") !default;
//$form-select-border-color:        $input-border-color !default;
//$form-select-focus-border-color:  $input-focus-border-color !default;
//$form-select-focus-box-shadow:    0 0 0 $form-select-focus-width $input-btn-focus-color !default;
//$form-range-thumb-active-bg:               tint-color($component-active-bg, 70%) !default;
//$form-range-thumb-transition:              background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;
//$form-file-button-color:          $input-color !default;
//$form-file-button-hover-bg:       shade-color($form-file-button-bg, 5%) !default;
//$form-feedback-valid-color:         $success !default;
//$form-feedback-invalid-color:       $danger !default;
//$form-feedback-icon-valid-color:    $form-feedback-valid-color !default;
//$form-feedback-icon-valid:          url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='#{$form-feedback-icon-valid-color}' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/></svg>") !default;
//$form-feedback-icon-invalid-color:  $form-feedback-invalid-color !default;
//$form-feedback-icon-invalid:        url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='#{$form-feedback-icon-invalid-color}'><circle cx='6' cy='6' r='4.5'/><path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/><circle cx='6' cy='8.2' r='.6' fill='#{$form-feedback-icon-invalid-color}' stroke='none'/></svg>") !default;
//"color": $form-feedback-valid-color,
//"color": $form-feedback-invalid-color,
//$nav-link-color:                    $link-color !default;
//$nav-link-hover-color:              $link-hover-color !default;
//$nav-link-transition:               color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out !default;
//$nav-link-disabled-color:           $gray-600 !default;
//$nav-tabs-border-color:             $gray-300 !default;
//$nav-tabs-link-hover-border-color:  $gray-200 $gray-200 $nav-tabs-border-color !default;
//$nav-tabs-link-active-color:        $gray-700 !default;
//$nav-tabs-link-active-border-color: $gray-300 $gray-300 $nav-tabs-link-active-bg !default;
//$nav-pills-link-active-color:       $component-active-color !default;
//$navbar-dark-color:                 rgba($white, .55) !default;
//$navbar-dark-hover-color:           rgba($white, .75) !default;
//$navbar-dark-active-color:          $white !default;
//$navbar-dark-disabled-color:        rgba($white, .25) !default;
//$navbar-dark-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
//$navbar-dark-toggler-border-color:  rgba($white, .1) !default;
//$navbar-light-color:                rgba($black, .55) !default;
//$navbar-light-hover-color:          rgba($black, .7) !default;
//$navbar-light-active-color:         rgba($black, .9) !default;
//$navbar-light-disabled-color:       rgba($black, .3) !default;
//$navbar-light-toggler-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
//$navbar-light-toggler-border-color: rgba($black, .1) !default;
//$navbar-light-brand-color:                $navbar-light-active-color !default;
//$navbar-light-brand-hover-color:          $navbar-light-active-color !default;
//$navbar-dark-brand-color:                 $navbar-dark-active-color !default;
//$navbar-dark-brand-hover-color:           $navbar-dark-active-color !default;
//$dropdown-color:                    $body-color !default;
//$dropdown-border-color:             rgba($black, .15) !default;
//$dropdown-divider-bg:               $dropdown-border-color !default;
//$dropdown-link-color:               $gray-900 !default;
//$dropdown-link-hover-color:         shade-color($gray-900, 10%) !default;
//$dropdown-link-active-color:        $component-active-color !default;
//$dropdown-link-disabled-color:      $gray-500 !default;
//$dropdown-header-color:             $gray-600 !default;
//$dropdown-dark-color:               $gray-300 !default;
//$dropdown-dark-border-color:        $dropdown-border-color !default;
//$dropdown-dark-link-color:          $dropdown-dark-color !default;
//$dropdown-dark-link-hover-color:    $white !default;
//$dropdown-dark-link-active-color:   $dropdown-link-active-color !default;
//$dropdown-dark-link-disabled-color: $gray-500 !default;
//$dropdown-dark-header-color:        $gray-500 !default;
//$pagination-color:                  $link-color !default;
//$pagination-border-color:           $gray-300 !default;
//$pagination-focus-color:            $link-hover-color !default;
//$pagination-hover-color:            $link-hover-color !default;
//$pagination-hover-border-color:     $gray-300 !default;
//$pagination-active-color:           $component-active-color !default;
//$pagination-active-border-color:    $pagination-active-bg !default;
//$pagination-disabled-color:         $gray-600 !default;
//$pagination-disabled-border-color:  $gray-300 !default;
//$pagination-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;
//$card-border-color:                 rgba($black, .125) !default;
//$card-cap-color:                    null !default;
//$card-color:                        null !default;
//$accordion-color:                         $body-color !default;
//$accordion-border-color:                  rgba($black, .125) !default;
//$accordion-button-color:                  $accordion-color !default;
//$accordion-button-active-bg:              tint-color($component-active-bg, 90%) !default;
//$accordion-button-active-color:           shade-color($primary, 10%) !default;
//$accordion-button-focus-border-color:     $input-focus-border-color !default;
//$accordion-icon-color:                    $accordion-color !default;
//$accordion-icon-active-color:             $accordion-button-active-color !default;
//$accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !default;
//$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !default;
//$tooltip-color:                     $white !default;
//$tooltip-arrow-color:               $tooltip-bg !default;
//$popover-border-color:              rgba($black, .2) !default;
//$popover-header-bg:                 shade-color($popover-bg, 6%) !default;
//$popover-header-color:              $headings-color !default;
//$popover-body-color:                $body-color !default;
//$popover-arrow-color:               $popover-bg !default;
//$popover-arrow-outer-color:         fade-in($popover-border-color, .05) !default;
//$toast-color:                       null !default;
//$toast-background-color:            rgba($white, .85) !default;
//$toast-border-color:                rgba(0, 0, 0, .1) !default;
//$toast-header-color:                $gray-600 !default;
//$toast-header-background-color:     rgba($white, .85) !default;
//$toast-header-border-color:         rgba(0, 0, 0, .05) !default;
//$badge-color:                       $white !default;
//$modal-content-color:               null !default;
//$modal-content-border-color:        rgba($black, .2) !default;
//$modal-header-border-color:         $border-color !default;
//$modal-footer-border-color:         $modal-header-border-color !default;
//$alert-color-scale:             40% !default;
//$progress-bar-color:                $white !default;
//$list-group-color:                  $gray-900 !default;
//$list-group-border-color:           rgba($black, .125) !default;
//$list-group-item-color-scale:       40% !default;
//$list-group-active-color:           $component-active-color !default;
//$list-group-active-border-color:    $list-group-active-bg !default;
//$list-group-disabled-color:         $gray-600 !default;
//$list-group-action-color:           $gray-700 !default;
//$list-group-action-hover-color:     $list-group-action-color !default;
//$list-group-action-active-color:    $body-color !default;
//$thumbnail-border-color:            $gray-300 !default;
//$figure-caption-color:              $gray-600 !default;
//$breadcrumb-divider-color:          $gray-600 !default;
//$breadcrumb-active-color:           $gray-600 !default;
//$carousel-control-color:             $white !default;
//$carousel-caption-color:             $white !default;
//$carousel-control-prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>") !default;
//$carousel-control-next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>") !default;
//$carousel-dark-caption-color:        $black !default;
//$btn-close-color:            $black !default;
//$btn-close-bg:               url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$btn-close-color}'><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>") !default;
//$offcanvas-border-color:            $modal-content-border-color !default;
//$offcanvas-bg-color:                $modal-content-bg !default;
//$offcanvas-color:                   $modal-content-color !default;
//$code-color:                        $pink !default;
//$kbd-color:                         $white !default;
//$pre-color:                         null !default;
